* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.5rem;
  font-family: var(--primary-font-family);
}
:root {
  --primary-top-color: #fad0c4;
  --primary-button-color: #c599b6;
  --primary-bottom-color: #fff7f3;
  --primary-font-family: "Roboto", sans-serif;
}

.top-section {
  background-color: var(--primary-top-color);
  width: 100%;
  min-height: 50vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 4rem;
  text-transform: capitalize;
  padding: 5rem;
}

form {
  display: flex;
  justify-content: center;
  gap: 18rem;
}

/* first input */
.cat-facts {
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.input1 {
  padding-top: 1rem;
}

.input1 input {
  width: 30rem;
  height: 5.5rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.7rem;
}

/* input::placeholder{
  color:var(--primary-button-color);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
} */

.input1 button {
  width: 9rem;
  height: 5.5rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #c599b6;
  color: var(--primary-bottom-color);
  font-size: 2rem;
  text-transform: capitalize;
}

/* second input */
.cat-images {
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.input2 {
  padding-top: 1rem;
}

.input2 input {
  width: 30rem;
  height: 5.5rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.7rem;
}

input::placeholder {
  color: var(--primary-button-color);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  font-style: italic;
}

.input2 button {
  width: 9rem;
  height: 5.5rem;
  border-radius: 0.6rem;
  border: none;
  background-color: #c599b6;
  color: var(--primary-bottom-color);
  font-size: 2rem;
  text-transform: capitalize;
}

@media screen and (max-width: 778px) {
  .top-section{
    height:auto;
  }
  form {
    display: flex;
    justify-content: center;
    gap: 9rem;
  }
}
@media screen and (max-width: 695px) {
  form {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
}
@media screen and (max-width: 650px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 350px) {
  h3 {
    font-size: 3rem;
    padding: 3rem;
  }
  .cat-facts {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  .cat-images {
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  .input1 input {
    width: 30rem;
    height: 5rem;
    border-radius: 0.6rem;
    border: none;
  }
  .input2 input {
    width: 30rem;
    height: 5rem;
    border-radius: 0.6rem;
    border: none;
  }
  .input1 button {
    width: 9rem;
    height: 4.5rem;
    font-size: 1.5rem;
  }
  .input2 button {
    width: 9rem;
    height: 4.5rem;
    font-size: 1.5rem;
  }
}

/* bottom section */
.bottom-section-facts {
  background-color: var(--primary-bottom-color);
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  padding-left: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  position: relative;
  /* border: 2px solid red; */
}

.bottom-section ol {
  width: 85rem;
  height: 100%;
  /* border: 2px solid green; */
  margin-left: 10rem;
  padding-top: 6rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 5rem 4rem 4rem 0.5rem;
}
.bottom-section-images {
  width: 30rem;
  height: 40rem;
  overflow: hidden;
}
.bottom-section-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  border-left: 2rem solid var(--primary-button-color);
  border-top: 2rem solid var(--primary-top-color);
  border-right: 2rem solid var(--primary-button-color);
  border-bottom: 2rem solid var(--primary-top-color);
  border-radius: 50%;
  width: 23rem;
  height: 23rem;
  animation: spin 1.5s linear infinite;
  margin: 1.5rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1030px) {
  .bottom-section-facts {
    padding-left: 2.5rem;
    overflow: hidden;
    /* height:auto; */
  }
  .bottom-section ol {
    /* margin-left: 1rem; */
    width: 100%;
  }
}
@media screen and (max-width: 655px) {
  .bottom-section ol {
    width: 100%;
  }
}
