*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size:10px;
}
body{
  font-size: 1.5rem;
  font-family: var(--primary-font-family);
}
:root{
  --primary-top-color:#FAD0C4;
  --primary-button-color:#C599B6;
  --primary-bottom-color:#FFF7F3;
  --primary-font-family: "Roboto", sans-serif;
}

.top-section{
  background-color: var(--primary-top-color);
  width:100%;
  height:50vh;
}

.header{
  display:flex;
  flex-direction: column;
  align-items: center;
}

h3{
  font-size: 4rem;
  text-transform: capitalize;
  padding:5rem;
}

form{
  display:flex;
  justify-content: center;
  gap:18rem;
}

/* first input */
.cat-facts{
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.input1{
  padding-top:1rem
}

.input1 input{
  width:30rem;
  height:5.5rem;
  border-radius: .6rem;
  border:none;
  outline:none;
}

/* input::placeholder{
  color:var(--primary-button-color);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
} */

.input1 button{
  width:9rem;
  height:5.5rem;
  border-radius: .6rem;
  border:none;
  background-color: #C599B6;
  color:var(--primary-bottom-color);
  font-size:2rem;
  text-transform: capitalize;
}

/* second input */
.cat-images{
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.input2{
  padding-top:1rem
}

.input2 input{
  width:30rem;
  height:5.5rem;
  border-radius: .6rem;
  border:none;
  outline:none;
}


input::placeholder{
  color:var(--primary-button-color);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  font-style: italic;
}

.input2 button{
  width:9rem;
  height:5.5rem;
  border-radius: .6rem;
  border:none;
  background-color: #C599B6;
  color:var(--primary-bottom-color);
  font-size:2rem;
  text-transform: capitalize;
}

@media screen and (max-width:778px){
  form{
    display:flex;
    justify-content: center;
    gap:9rem;
  }
}
@media screen and (max-width:695px){
  form{
    display:flex;
    justify-content: center;
    gap:5rem;
  }
}
@media screen and (max-width:650px){
  form{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width:350px){

  h3{
    font-size: 3rem;
    padding:3rem
  }
  .cat-facts{
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  .cat-images{
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
  }
  .input1 input{
    width:30rem;
    height:5rem;
    border-radius: .6rem;
    border:none;
  }
  .input2 input{
    width:30rem;
    height:5rem;
    border-radius: .6rem;
    border:none;
  } 
  .input1 button{
    width:9rem;
    height:4.5rem;
    font-size:1.5rem;
  }
.input2 button{
  width:9rem;
  height:4.5rem;
  font-size:1.5rem;
}
}

/* bottom section */
.bottom-section{
  background-color: var(--primary-bottom-color);
  width:100%;
  height:50vh;
  padding-left: 8rem;
  padding-top:6rem;
  font-size:2rem;
  position:relative;
  /* border: 2px solid red; */
}

.bottom-section ol{
width:85rem;
height:100%;
/* border: 2px solid green; */
margin-left:8rem
}